aiogram==2.25.2
python-dotenv==1.1.0
supabase==2.15.0
cryptography==44.0.2
pytz==2025.2
nest-asyncio==1.6.0
celery==5.3.6
redis==5.0.3
transformers==4.38.2
pandas==2.2.3
torch==2.0.1+cpu
aiohttp==3.8.4
huggingface_hub[hf_xet]==0.23.0
