aiogram==2.25.2
python-dotenv==1.1.0
supabase==1.0.3
cryptography==44.0.2
pytz==2025.2
nest-asyncio==1.6.0
celery==5.3.6
redis==5.0.3
transformers==4.38.2
pandas==2.0.3
torch==2.0.1
huggingface_hub[hf_xet]==0.23.0
numpy<2.0.0
